// Colors
$text-color: #A68A64;
$heading-color: #7F4F24;
$bg-light: #B6AD90;
$bg-dark: #582F0E;
$border-color: #C2C5AA;
$main-color: #00aeef;

// Fonts
$body-font: 'Pt Serif', serif;
$heading-font: 'Montserrat', sans-serif;
$alt-font: 'Open Sans', sans-serif;
$body-font-size: 15px;